

 .body-bg {
    height:400px;
} 

 .body-bg img{
    position: absolute;
    top: 0 ;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform-origin: top left;
    
}



 .box {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y:auto;
  overflow-x: auto;
}
.box > .box-wrapper {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center ;

}

.clock {
    position:fixed;
    width: 100%;
    height: 100%;
    margin-top: 40%;
    margin-bottom: 60%;
    margin-right: 80%;
    margin-left:80%;
    /* background-image:url("../../clockimage.png"); */
    background-color: black;
    .hand2 {
        position:relative;
        width:30%;
        height:14rem;
        margin-top: 40%;
        margin-bottom: 60%;
        margin-right: 80%;
        margin-left:80%;
        /* background-image:url("../../hand.png"); */
        transform-origin: 50% 13rem;
        top: calc(50% - 13rem);
        animation: big-tick 3600s infinite linear;
        animation-delay: -873s;
    }
    .hand {
        position:relative;
        width: 50%;
        height: 11rem;
        transform-origin:50% 10rem;
        top: calc(50% - 10rem);
        animation: big-tick 43200s infinite linear;
        animation-delay: -36873s;
        margin-top: 40%;
        margin-bottom: 60%;
        margin-right: 80%;
        margin-left:80%;
        /* background-image:url("../../hand.png"); */
    }
}
@keyframes big-tick {
    0% {transform:rotate(0deg);}
    25%{tranform:rotate(90deg);}
    50%{tranform:rotate(180deg);}
    75%{tranform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}



.sometext {
    position:relative;
    height: 300px;
    width: 300px;
    background: rgba(76, 128, 28, 0.15);
    top: 80%;
    right: 80%;
    bottom: 0;
    right: 0;
    border-color: azure;

}