

 .body-bg {
    height:400px;
} 

 .body-bg img{
    position: absolute;
    top: 0 ;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform-origin: top left;
    
}



 .box {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box > .box-wrapper {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center ;

}